<div class="table-wrapper" scrollable (scrollPosition)="onScroll.emit($event)">
  <table mat-table [dataSource]="data">
    <!-- Start Text Columns -->
    <ng-container *ngFor="let col of textCols" [matColumnDef]="col?.columnName">
      <th mat-header-cell *matHeaderCellDef>{{ col?.columnLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="col?.type">
          <p
            *ngSwitchCase="'description'"
            class="desc-column"
            [matTooltip]="element[col?.columnName]"
          >
            {{ element[col?.columnName] || "Not Found" }}
          </p>

          <span class="date" *ngSwitchCase="'date'">
            {{ element[col?.columnName] | date: "medium" }}
          </span>

          <p class="desc-column" [matTooltip]="element[col?.columnName]" *ngSwitchDefault>{{
            element[col?.columnName] || "Not Found"
          }}</p>
        </ng-container>
      </td>
    </ng-container>
    <!-- End Text Columns -->

    <!-- Start Aavatr -->
    <ng-container
      *ngFor="let col of avatarCols"
      [matColumnDef]="col.columnName"
    >
      <th mat-header-cell *matHeaderCellDef>{{ col?.columnLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element[col?.columnName] || defaultMedia"
          class="rounded-circle avatar"
          alt="image"
        />
      </td>
    </ng-container>
    <!-- End Aavatr -->

    <!-- Start Status -->
    <ng-container
      *ngFor="let col of statusCols"
      [matColumnDef]="col?.columnName"
    >
      <th mat-header-cell *matHeaderCellDef>{{ col?.columnLabel }}</th>
      <td mat-cell *matCellDef="let element">
        <div [class]="element[col?.columnName]?.cssClasses">{{
          element[col?.columnName]?.label || "Not Found"
        }}</div>
      </td>
    </ng-container>
    <!-- End Status -->

    <ng-content></ng-content>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell no-data-msg" colspan="9999">No Result Found</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
