label {
  font-weight: 500;
}

.container {
  position: relative;
  height: 8rem;
  width: 15rem;
  margin-bottom: 1.3rem;
  border-radius: 15px;
  margin: auto;
  margin-block: 1rem;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .loading-icon {
    position: absolute;
  }
}

.noImageStyle {
  background-color: lightgray;
  position: relative;
  mat-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    color: white;
  }
}

.center-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
