<label for="upload-img">Upload File</label>
<div (click)="fileUpload.click()" class="container">
  <input type="file" hidden
    accept=".pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/pdf"
    (change)="onFileSelected($event)" #fileUpload />
  <mat-icon class="center-item">add</mat-icon>
  <mat-spinner [diameter]="50" *ngIf="loadingMedia" class="loading-icon center-item"></mat-spinner>
</div>
<mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>