.body_container {
  margin-top: 65px;
  // margin-bottom: 120px;
  padding-bottom: 120px;
}

.mat-elevation-z3 {
  position: fixed;
  z-index: 2;
  background: #fff;
}

.music-control {
  position: fixed;
  bottom: 0;
  height: 100px;
}