.content-container {
  margin-top: 65px;
  padding-bottom: 120px;
  box-sizing: border-box;
  min-height: 100vh;
}

.mat-elevation-z3 {
  position: fixed;
  z-index: 2;
  background: #fff;
}

.music-control {
  position: fixed;
  bottom: 0;
  height: 100px;
}