.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action {
  margin: 1rem;
}

.actions {
  margin: 0rem;
}

mat-form-field {
  width: 100%;
  display: block;
}

button {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-spinner {
  margin-right: 10px;
}