.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.action {
    margin: 1rem;
}

.field-container {
    font-size: 14px;
}

.container {
    margin-top: 1rem;
}

.first-row {
    margin-top: 1rem;
}

.upload-image {
    margin: auto;
    margin-block: 1rem;
}

.actions{
    display: flex;
    gap: 10px;
}
.autoJoinedAndFees{
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 1rem;
}
